body {
  background-color: #212529;
}
h1{
  color: #EDEDED;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.box{
  background-color: #DFAC13;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px auto;
  padding: 30px 0;
  width: 90%;
}
.task__input{
  font-size: 1rem;
  margin-bottom: 20px;
  width: 70%;
}

